* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 1200px;
}

nav {
    display: flex;
    align-items: center;
    gap: 464px;
}

ul {
    display: flex;
    gap: 39px;
}

.header-wrapper-left img {
    background-image: url('./Vector\ \(1\).png');
    background-color: #0101003D;
    background-size: cover;
    background-position: 30px 30px;
}

section {
    margin-top: 76px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 97px;
}

.header-wrapper {
    display: flex;
    gap: 70px;
}

.card1 {
    box-shadow: 0px 8px 24px #2FC63C;
    width: 200px;
    height: 200px;
    background-color: white;
}

.card2 {
    box-shadow: 0px 7px 29px #64646F33;
    width: 200px;
    height: 200px;
    background-color: white;

}

.header-wrapper-right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

a {
    color: black;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 3px 3px 3px purple;
}

section {
    display: flex;
    gap: 57px;
    margin-right: 4px;
}

.card3 {
    box-shadow: 1.95px 1.95px 2.6px #00000026;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.card-1-2-3 {
    display: flex;
    gap: 94px;
}

.card-4-5-6 {
    display: flex;gap: 94px;
}

.card4 {
    box-shadow: 0px 5px 15px #00000059;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.card5 {
    box-shadow: 0px 1px 4px #000000AB;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.card6 {
    box-shadow: 0px 3px 8px #FF0000;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.card7 {
    box-shadow: 0px 8px 24px #007FFDEB;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.card8 {
    box-shadow: 0px 7px 36px #64646FA8;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.card9 {
    box-shadow: 1.95px 1.95px 2.6px #00000026;
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.card-7-8-9 {
    display: flex;
    gap: 94px;
}